<style type="text/css">
	/* .card {
		width: 100%;
		background-color: #f5f5f5;
		border-radius: 5px;
		display: grid;
		justify-content: center;
    font-family: Arial;
    margin: auto;

	}
	.btn{
		margin: auto;
		text-decoration: none;
		color: #fff;
		background-color: #00e68a;
		padding: 10px;
		width: 200px;
		text-align: center;
		border-radius: 5px;
		box-shadow: 1px 1px 7px #333;
		margin-bottom: 10px;
		font-weight: bold;
	} */


</style>

<body>
  <section>
  	<div style='width: 100%;
		background-color: #f5f5f5;
		border-radius: 5px;
		display: grid;
		justify-content: center;
    font-family: Arial;
    margin: auto;
    padding: 20px;
    'class="card">
  			<img style='margin:auto;'src='cid:logo'>
		  	<h3>Olá <%=name %>, bem vindo ao SocialSociety :)</h3>
		  	
		  	<p>Agora você já está pronto para se conectar com outras pessoas, aproveite!</p>
	  		
	  	<br>
	  	<a  style='margin: auto;
      text-decoration: none;
      color: #fff;
      background-color: #00e68a;
      padding: 10px;
      width: 200px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 1px 1px 7px #333;
      margin-bottom: 10px;
      font-weight: bold;'class="btn"href="http://localhost:3000/login">Acesse já!</a>
  	</div>
  </section>
</body>